body {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 8pt;
}

h1 {
    text-align: center;
    font-size: 18pt;
    text-shadow: 1px 1px 1px #D8D8D8;
}

textarea {
    border-radius: 5px;
    background-color: #FAFAFA;
    padding: 10px;
    margin: 5px;
    max-width: 60%;
    float: left;
    resize: none;
}

#classes {
    padding: 10px;
    max-width: 60%;
    max-height: 70%;
    overflow: auto;
    border-radius: 5px;
    background-color: #FAFAFA;
    float: left;
}

#settings {
    padding: 10px;
    max-width: 35%;
    max-height: 90%;
    margin: 5px;
    overflow: auto;
    border-radius: 5px;
    background-color: #FAFAFA;
    float: right;
}

.mafiaclass {
    background-color: #F2F4F6;
    border: 1px solid #BCD;
    border-radius: 10px;
    max-width: 50%;
    margin: 5px;
    float: left;
    display: inline-block;
}

.classname {
    font-weight: bold;
    text-align: center;
}
